@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: "Raleway";
}

.banner {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    height: 80vh;
    padding: 5vh 0;
    background-image: url("assets/images/banner.png");
    background: linear-gradient(90deg, rgba(21, 100, 114, 0.3) 50%, rgba(1, 7, 8, 0.3) 50%);

    & img {
        background-color: rgba(0, 0, 0, 0.575);
        border-radius: 50%;
        padding: 1vh;
    }

    & h1 {
        font-weight: 900;
        text-transform: uppercase;
        background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    & p {
        display: flex;
        flex-wrap: wrap;
        margin: 3vh auto;
        padding: 10vh auto;
        font-weight: 400;
        color: white;
    }


    & button {
        background: none;
        font-weight: 900;
        text-transform: uppercase;
        padding: 4vh 10vh;
        color: #31A8DD;
        border: 2px solid;
        border-style: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);

    }
}